<div class="container">
  <div class="p1 border">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-12">
        <app-displaytimer2></app-displaytimer2>
      </div>
      <div class="col-md-7 col-sm-7 col-12">
        <app-count2> </app-count2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-12 margin-top-10">
        <app-logs2></app-logs2>
      </div>
      <div class="col-md-7 col-sm-7 col-12 margin-top-10">
        <app-timelimit2></app-timelimit2>
      </div>
    </div>
  </div>
</div>
