<div class="container">
  <div class="p1 border">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-12">
        <app-disptimer [data]="timerValue"></app-disptimer>
      </div>
      <div class="col-md-7 col-sm-7 col-12">
        <app-tcount
          [(timerNumber)]="timerValue"
          (timerStart)="onTimerStart($event)"
          (timerReset)="onTimerReset()"
          [timerlogs]="timerObject"
        >
        </app-tcount>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-12 margin-top-10">
        <app-tlogs [logTimer]="timerObject"></app-tlogs>
      </div>
      <div class="col-md-7 col-sm-7 col-12 margin-top-10">
        <app-tlimit
          [start]="startedCountValue"
          [paused]="pausedCountValue"
        ></app-tlimit>
      </div>
    </div>
  </div>
</div>
