<div>
  <label>Enter Time Limit</label>
  <input
    type="number"
    min="0"
    #timervalue
    value="counterLimit"
    class="form-control"
    [disabled]="!firstStart"
  />
</div>
<div>
  <button
    class="btn btn-primary"
    (click)="onCountDownRun(timervalue.value)"
  >
    Start/Pause
  </button>
  <button class="btn btn-danger" (click)="onCountDownReset()">Reset</button>
  <!-- <p>{{ counterLimit }}</p> -->
</div>
<p *ngFor="let status of countDownLog">
  {{ !status.status ? "Paused at " + status.value : "" }}
</p>
