<div>
  <label>Enter Time Limit</label>
  <input
    type="number"
    min="0"
    #timervalue
    [value]="timerNumber"
    class="form-control"
    [disabled]="!firstStart"
  />
</div>
<div>
  <button class="btn btn-primary" (click)="onStart(timervalue.value)">
    Start/Pause
  </button>
  <button class="btn btn-danger" (click)="onReset()">Reset</button>
</div>

<ul
  *ngIf="timerlogs.length > 0"
  [ngClass]="timerlogs.length > 6 ? 'scroll' : ''"
>
  <li *ngFor="let time of timerlogs">
    <span class="font-weight-bold">{{ "Paused at " + time }}</span>
  </li>
</ul>
